// TODO: Use Whitney or Helvetica Neue instead.
@import './whitney.scss';

html, body {
    margin: 0;
    background-color: #fff;
    font-family: 'Whitney', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}